.singleMovie-enter {
  opacity: 0;
}
.singleMovie-enter-active {

  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.singleMovie-exit {
  opacity: 1;
}
.singleMovie-exit-active {
  opacity: 0;
  transition: opacity 3000ms ease-in;
}