.singleMovie-enter  {
  transform: translatex(100vh);
  color : red;
}
.singleMovie-enter-active {
  transform: translatex(0vh);
  transition-duration: 3s;
  color : blue
}

.singleMovie-exit {
  transform: translatex(100vh);
  transition-duration: 3s;
  color : blue
}
.singleMovie-exit-active {
  transform: translatex(100vh);
  color : red;
}